$small: 800px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    overflow-x: hidden;
    

    @media screen and (max-width: $small) {
        max-width: 100vw;
        overflow-x: hidden;
    }
}

body {
    overflow: hidden;
    background-color: white;
}

.circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;

    @media screen and (max-width: $small) {
        display: none;
    }
}

.circle:nth-of-type(1) {
    left: -20%;
    top: -20%;
    width: 70rem;
    height: 40rem;
    background: #6B90F0;
    filter: blur(150px);
}
.circle:nth-of-type(2) {
    width: 75rem;
    height: 40rem;
    right: -20%;
    top: -20%;
    background: #368DBE;
    filter: blur(150px);
}
.circle:nth-of-type(3) {
    left: 30%;
    top: 10%;
    height: 42rem;
    width: 30rem;
    background: #A4D3FF;
    filter: blur(150px);
}
.circle:nth-of-type(4) {
    bottom: -15%;
    right: 20%;
    width: 40rem;
    height: 40rem;
    background: #4A7EE1;
    filter: blur(150px);
}
.circle:nth-of-type(5) {
    width: 55rem;
    height: 55rem;
    right: -15%;
    bottom: -30%;
    background: #6BB0F0;
    filter: blur(150px);
}
.circle:nth-of-type(6) {
    width: 80rem;
    height: 70rem;
    left: -20%;
    bottom: -50%;
    background: #6BD0F0;
    filter: blur(150px);
}
.circle:nth-of-type(7) {
    width: 50rem;
    height: 45rem;
    left: 20%;
    top: -40%;
    background: #81D9FF;
    filter: blur(150px);
}

.front_circle {
    width: 20rem;
    height: 20rem;
    background-color: #B24AF1;
    border-radius: 50%;
    z-index: 1;
    position: absolute;

    @media screen and (max-width: $small) {
        display: none;
    }
    
}

body > div:nth-child(8) {
    position: absolute;
    left: 20%;
    top: 10%;
    // backg    round-color: #4ABFF1;
    background: linear-gradient(330deg, #4abff100, #4abff1);
}
body > div:nth-child(9) {
    right: 18%;
    bottom: 5%;
    background-color: #A4D3FF;
    background: linear-gradient(to bottom, #A4D3FF, #a4d3ff21);
}

main {
    width: 60rem;
    height: 35rem;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    background: linear-gradient(330deg, rgba(255, 255, 255, .1), rgb(255, 255, 255, .4));
    z-index: 2;
    backdrop-filter: blur(15px);

    @media screen and (max-width: $small) {
        width: 100%;
        height: 100%;
        flex-direction: column; 
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    // filter: blur(5px);
    form {
        border-radius: 1.5rem;
        flex: 1;
        background: rgba(255, 255, 255, .3);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 1rem;

        @media screen and (max-width: $small) {
            border-radius: 0;
            background-color: white;
            border-bottom-left-radius: 3rem;
        }
        .form_input_group {
            display: flex;
            flex-direction: column;
            width: 80%;
            
            label {
                font-weight: 600;
                font-size: 18px;
                padding-bottom: .4rem;

                @media screen and (max-width: $small) {
                    font-size: .9rem;
                    color: black;
                }
            }
            input {
                border-radius: 5px;
                border: 0;
                height: 1.7rem;
                background-color: rgba(255, 255, 255, .8);
                box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.034);

                @media screen and (max-width: $small) {
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.197); 
                    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.197);
                    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.197);
                }

                @media screen and (max-width: $small) {
                    font-size: .8rem;
                    height: auto;
                    padding: .3rem 1rem;
                }
            }
            textarea {
                border-radius: 10px;
                border: 0;
                resize: none;
                padding: .5rem;
                font-size: 15px;
                background-color: rgba(255, 255, 255, .8);
                box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.034);

                // @media screen and (max-width: $small) {
                //     display: none;
                // }

            }
            textarea::placeholder {
                letter-spacing: 5px;
                color: black;

            }
        }
        .textarea_input_group {
            @media screen and (max-width: $small) {
                display: none;
            }
        }
        button {
            width: 80%;
            margin-bottom: 1rem;
            padding-block: .2rem;
            font-size: larger;
            border-radius: 5px;
            border: 0;
            background-color: #368DBE;
            cursor: pointer;
            color: black;

            @media screen and (max-width: $small) {
                font-size: .9rem;
            }
        }
    }
    .tasks-section {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        overflow: scroll;
        // border: 1px solid black;

        @media screen and (max-width: $small) {
            flex: 1;
            background: transparent;
            background: #6BD0F0;
        }

        h1 {
            @media screen and (max-width: $small) {
                display: none;
            }
        }

        .done {
            opacity: 0.5;
            filter: brightness(0.5);
            h2 {
                text-decoration: line-through 2px;
            }
            
        }
        
        .todo_container {
            background-color: rgb(255, 255, 255, .9);
            width: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin-block: 1rem;
            padding-block: 1rem;
            padding-inline: 1rem;
            border-radius: 1rem;

            @media screen and (max-width: $small) {
                width: 90%;
                margin-block: .2rem;
                padding-block: .5rem;
                border-radius: .6rem;
            }
            .todo_info {
                display: flex;
                flex-direction: column;
                flex: 1;
                p:first-of-type {
                    padding-block: .2rem;
                }
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    display: inline-block;

                    @media screen and (max-width: $small) {
                        font-size: .9rem;
                        display: block;
                    }
                }
                p {
                    opacity: .6;
                    word-wrap: break-word;
                }
            }
            .todo_description {
                flex: 1;
                box-sizing: content-box;
                max-width: 15rem;
                word-wrap: break-word;
                @media screen and (max-width: $small) {
                    display: none;
                }
                
            }
            .todo_button_wrapper {
                flex: 1;
                display: flex;
                justify-content: end;
                align-items: center;
                button {
                    height: 1.3rem;
                    width: 1.3rem;
                    background: #4A7EE1;
                    border: 0;
                    border-radius: 3px;
                    align-self: flex-end;
                    font-size: 1.2rem;
                    cursor: pointer;
                    margin-right: 1rem;
                    color: black;

                    @media screen and (max-width: $small) {
                        height: 1rem;
                        width: 1rem;
                        font-size: .9rem;
                    }
                }
                i {
                    font-size: 21px;
                    opacity: 0.8;
                    cursor: pointer;

                    @media screen and (max-width: $small) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
.tasks-section::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 2rem;
}
.tasks-section::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.tasks-section::-webkit-scrollbar-thumb{
    background-color: #0000007d;
    border-radius: 4px;
}
.tasks-section::-webkit-scrollbar-corner {
    background-color: transparent;
}

.error {
    outline: 1px solid red;
}
.success {
    outline: none;
}

#errorMessage {
    color: rgb(201, 42, 42);
    font-size: 18px;
    padding-bottom: .5rem;
    display: none;
}

.modal {
    visibility: hidden;
    position: absolute;
    border-radius: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #368DBE;
    width: 25rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.303);
    p {
        text-align: center;
        font-size: 25px;
        width: 80%;
    }
    button {
        width: 10rem;
        font-size: 18px;
        padding-block: .5rem;
        border-radius: .5rem;
        border: 1px solid black;
        cursor: pointer;
    }
}